Flask==2.2.2               # The Flask web framework
Flask-Cors==4.0.0          # Enable Cross-Origin Resource Sharing (CORS) for Flask
Flask-MySQL==1.5.2         # MySQL integration for Flask
Flask-MySQLdb==2.0.0       # MySQL integration for Flask (alternative)
gunicorn==22.0.0            # HTTP server for hosting Flask applications
Jinja2==3.1.2              # Template engine used by Flask
MarkupSafe==2.1.1          # Markup escaping library used by Flask
Werkzeug==2.0.3            # WSGI utility library used by Flask